body{
    margin:0;
}

.full-body{
    width:100%;
    height:100vh;
    background-color:#edf1fa;
    font-family:sans-serif;
    position:relative;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:120px;
}

nav img{
    width: 200px;
    height:100px;
    margin-left:50px;
}


nav ul li{
    list-style:none;
    display:inline;
    margin:10px 20px;
}

nav ul li a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
.details{
    margin-top:17%;
    margin-left:9%;
}

.details h1{
    font-size:45px;
    margin-bottom:15px;
}

.details span{
    color: rgb(241, 36, 91);
}

.details p{
    color:#605f5f;
}

button{
    background-color:black;
    color:white;
    font-size:19px;
    padding:5px 10px;
    font-weight:bold;
    border-radius:5px;
    border:none;
    margin-top:20px;
}
.images{
    /* background-color: white; */
    width:45%;
    height:80%;
    position:absolute;
    bottom:0;
    right:50px;
}
.images img{
    height:100%;
    margin-left: 50px;;
}

.icons{
    margin-left:9%;
    margin-top:130px;
}

.icons a{
    font-size:30px;
    margin-right:20px;
    color: rgb(241, 36, 91);
}